.header {
    text-align: center;
}
.content table {
    margin: auto;
}
.content th {
    cursor: pointer;
    -webkit-user-select: none;
    /* Chrome/Safari */
    
    -moz-user-select: none;
    /* Firefox */
    
    -ms-user-select: none;
    /* IE10+ */
    /* Rules below not implemented in browsers yet */
    
    -o-user-select: none;
    user-select: none;
}
.content > div {
    margin: auto;
}
.tac {
    text-align: center;
}

#outputDiv {
	transition: 0.5s;
}

@media only screen and (max-width: 592px) {
	.header {
		font-size: 1em;
	}
}